{% extends "MapbenderCoreBundle:Template:fullscreen.html.twig" %}

{% block title %}Workshop Demo Mapbender3 - {{ application.title }}{% endblock %}

{% block favicon %}{{ asset('bundles/workshopdemo/image/favicon.ico') }}{% endblock %}

{% block logo %}
  <img class="logo" height="40" alt="Workshop Logo"
       src="{{ asset('bundles/workshopdemo/image/workshop_logo.png') }}"/>
{% endblock %}


{% block frontend_content %}

  <div id="templateWrapper" class="templateWrapper sidePaneOpened">
    <div class="logoContainer">
      <img class="logo" height="80" alt="Mapbender 3 Manager" src="{{ asset('bundles/workshopdemo/image/workshop_logo.png') }}" />
    </div>

    <ul id="toolbar" class="toolBar itemsRight top">
      {% if application.elements.toolbar is defined %}
        {% for element in application.elements.toolbar %}
          <li class="toolBarItem">{{ element.render() | raw }}</li>
        {% endfor %}
      {% endif %}
    </ul>
  {% if application.elements.sidepane is defined %}
    <div id="sidepane" class="clear sidePane left">
      <ul class="sidePaneTabs">
        <li class="sidePaneTabItem toggleSideBar"></li>
      </ul>
      <div class="sideContent">
        {% include "MapbenderCoreBundle:Template:region.html.twig"  with {'region_props': region_props, 'application': application, 'region': 'sidepane' }%}
      </div>
    </div>
  {% endif %}
    <div id="content" class="contentPane">
      {% include "MapbenderCoreBundle:Template:region.html.twig"  with {'region_props': region_props, 'application': application, 'region': 'content' }%}
    </div>

    <ul id="footer" class="toolBar itemsRight bottom">
      {% if application.elements.footer is defined %}
        {% for element in application.elements.footer %}
          <li class="toolBarItem">{{ element.render() | raw }}</li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
{% endblock %}
